html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
        font-family: 'Inconsolata', monospace;
	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Reset end

:root {
    --bg-light: #1f222d;
    --bg-dark: #111111;
    --fg-light: #000000;
    --fg-light: #996633;
}

* {
    box-string: border-box;
    margin: 0px;
}

#splash {
    height:100vh;
    float:left;
    padding-right:5px;
    margin-top:0px;
    display:inline-block;
}

.intro {
    
}

.about {
    margin-bottom:2em;
}

.intro h1 {
    color:red;
    font-size:50px;
    margin-top:0px;
    padding-top:5%;
    font-family: 'Inconsolata', monospace;
}

.ui-state-focus {
    outline: none;
}

.ui-state-hover {
    color:gray;
    cursor:pointer;
}

h3 {
    padding:5px 0px 5px 0px;
}

#accordion div{
    color:red;
    height:100%;
}

#accordion {
    height:48vh;
}

.contact {
    display:inline-block;
    position:absolute;
    top:0;
    right:0;
    margin-right:10px;
    margin-top:3px;
}

.contact a {
    display: inline-block;
    text-align: center;
}

.contact a:link {
    text-decoration:none;
    font-weight:bold;
    color:black;
}

.contact a:visited {
    text-decoration:none;
    font-weight:bold;
    color:black;
}

.contact a:hover {
    text-decoration:none;
    color:gray;
}

.contact a:active {
    text-decoration:none;
    color:gray;
}

.credit p {
    display:inline-block;
    position:absolute;
    bottom:0;
    right:0;
    font-weight:bold;
    margin-right:3px;
    pargin-bottom:3px;
}
