/* TODOS:
    -Photoshop better navigation arrows
    -Finish projects tab
    -Finish Skills tab
    -Make more intuitive for smaller screens
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Inconsolata', monospace;
    
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

//Reset end

:root {
    --bg-light: #1f222d;
    --bg-dark: #111111;
    --fg-light: #000000;
    --fg-light: #996633;
}

* {
    box-string: border-box;
    margin: 0px;
}

#splash {
    height:100vh;
    float:left;
    padding-right:10px;
    margin-top:0px;
    display:inline-block;
}

.intro {
    
}

.about {
    margin-bottom:1.6vh;
    margin-right:10px;
}

.about-content {
    height:6vh;
}

.intro h1 {
    color:red;
    font-size:10vh;
    margin-top:0px;
    padding-top:5vh;
    font-family: 'Inconsolata', monospace;
}

.intro h2 {
    font-size:3vh;
}

.ui-state-focus {
    outline: none;
}

.ui-state-hover {
    color:gray;
    cursor:pointer;
}

h3 {
    padding:0.4vh 0px 0.4vh 0px;
}

#accordion div{
    color:red;
    height:60vh;
    margin-right:10px;
}

#accordion {
    height:58vh;
}

.contact {
    display:inline-block;
    position:absolute;
    top:0;
    right:0;
    margin-right:10px;
    margin-top:0.4vh;
}

.contact a {
    display: inline-block;
    text-align: center;
}

.contact a:link {
    text-decoration:none;
    font-weight:bold;
    color:black;
}

.contact a:visited {
    text-decoration:none;
    font-weight:bold;
    color:black;
}

.contact a:hover {
    text-decoration:none;
    color:gray;
}

.contact a:active {
    text-decoration:none;
    color:gray;
}

.credit p {
    display:inline-block;
    position:absolute;
    bottom:0;
    right:0;
    font-weight:bold;
    margin-right:3px;
    margin-bottom:1vh;
}

li {
    list-style-type:disc;
}

.job {
    
}

.experience-content {
    padding-top:0.2vh;
}

.experience-content td {
    vertical-align:top;
    padding-right:20px;
    padding-bottom:2.5vh;
}

.desc-cell {
    padding-left:10px;
}

.experience-content img {
    height:8vh;
    width:auto;
}

.education-content td {
    vertical-align:top;
}

.school-list {
    margin-left:20px;
}

.school-id {
    margin-bottom:3px;
}

.education-content table:nth-child(2) {
    margin-top:3vh;
}

.education-content table {
    width:60vw;
}

.education-content table:nth-child(1) tr td img {
    margin:0px 1vw 0px 0px;
}

.education-content table:nth-child(2) tr td img {
    margin:0px 0px 0px 1vw;
}

.education-content table:nth-child(1) tr td:nth-child(2) {
    width:800%;
}


.left {
    float:left;
    padding-right:25px;
}

.right {
    float:right;
    padding-left:25px;
}

.education-content img {
    height:25vh;
    width:auto;
}

.img-cell {
    text-align:center;
    width:4vw;
}

.job-cell {
    width:26vw;
}

.icon {
    display:inline;
    padding-right:5px;
}

.ui-accordion-header-collapsed::before {
    content:url("right.png");
}

.ui-accordion-header-active::before {
    content:url("down.png") !important;
}

.ui-accordion-header::before {
    content:url("right.png");
}

